<div class="row" >
    <div class="col-md-12 h1">7oas7er's NetRunner Page</div>
    <div class="col-md-8"><p>This page is dedicated to the Netrunner collectable card game,
        which was created by Richard Garfield and released by Wizards of the Coast, Inc in 1996.</p></div>
    <div class="col-md-4"></div>
    <div class="col-md-8"><p>You'll find a complete card list here as well as a function to generate random starter decks and booster packages.
        My work is based on the original work of Dominik Bódi and brought the code into the web.</p></div>
    <div class="col-md-4"></div>
</div>
