@(userForm: Form[models.AuthUserFormData], loginFailed: Option[Boolean])(implicit request: RequestHeader)
<div class="row">
    <div class="col-md-12">

        <form id="login-data-form" role="form" action='@routes.UserController.authenticate()' method="post" autocomplete="off">

            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" value="" placeholder="eMail" required>
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" name="password" value="" placeholder="password" required>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>

        @if(loginFailed.isDefined && loginFailed.get == true) {
            <br>
            <div class="col-md-6 bg-danger"><p>Either your eMail is unknown to the us or you gave the wrong password.</p></div>
        }

    </div>
</div>
