<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background: seagreen;position: relative;height: 34px;padding-bottom: 34px;"></div>
    </div>
    <div class="row" id="menu">
        <div class="col-md-12" style="color: seagreen; position: relative;height: 40px;padding-bottom: 40px">
            <a class="btn btn-link" href="/netrunner" role="button">Netrunner</a>
            <a class="btn btn-link " href="http://7oas7er.wordpress.com" target="_blank" role="button"><i class="fa fa-wordpress" aria-hidden="true"></i>&nbsp;Sliced Thoughts</a>
            <a class="btn btn-link" href="/register" role="button">Register</a>
        </div>
    </div>
</div>