<div class="row" id="nrmenu">
    <div class="col-md-12">
        <a class="btn btn-link" href="/netrunner" role="button"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;All Cards</a>
        <a class="btn btn-link" href="/netrunner/starter/runner" role="button"><i class="fa fa-random" aria-hidden="true"></i>&nbsp;Runner Starter</a>
        <a class="btn btn-link" href="/netrunner/starter/corporation" role="button"><i class="fa fa-random" aria-hidden="true"></i>&nbsp;Corp Starter</a>
        <a class="btn btn-link" href="/netrunner/booster/limited" role="button"><i class="fa fa-random" aria-hidden="true"></i>&nbsp;Limited Booster</a>
        <a class="btn btn-link" href="/netrunner/booster/proteus" role="button"><i class="fa fa-random" aria-hidden="true"></i>&nbsp;Proteus Booster</a>
        <a class="btn btn-link" href="/netrunner/booster/classic" role="button"><i class="fa fa-random" aria-hidden="true"></i>&nbsp;Classic Booster</a>
        <a class="btn btn-link" href="/register" role="button">Register</a>
    </div>
</div>
